<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Storybooks</title>
</head>
<body>
    {{> _header}}
    {{> _add_btn}}
    <div class="container">
        {{{body}}}    
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/43.3.1/ckeditor.js" integrity="sha512-h0Il6gpcLBQujpYeexFyocJFwGy9ShvylE8yvnfnubBK2XHaqaGlzbfD/K1CGc3qFTzLd1TWDjxtoONpPhC/wg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))

        ClassicEditor
        .create(document.querySelector('#body'))
        .catch(error => {
            console.error('Error initializing CKEditor:', error);
        });
    </script>
</body>
</html>