<h3><i class="fas fa-book-reader"></i> Gamer Tales</h3>
<div class="section">
    <p class="lead">Create storybook-style summaries of your favorite video games</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>